.task-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  margin-top: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task-container img {
  width: 12px;
  height: 12px;
  cursor: pointer;
}
